<h2>Video Call</h2>
<article>
   <div id="publisher"></div>
</article> 
<article id="subscribers"></article>
<article>
  <h3>Meeting Link:</h3>
  <p><a href="<%= meetingLink %>"><%= meetingLink %></a></p>
</article>

<script type="text/javascript">
  let apiKey = '<%= apiKey %>';
  let sessionId = '<%= sessionId %>';
  let token = '<%= token %>';

  /* global OT, apiKey, sessionId, token */

  // Initialize an OpenTok Session object
  let session = OT.initSession(apiKey, sessionId);

  // Initialize a Publisher, and place it into the element with id="publisher"
  let publisher = OT.initPublisher('publisher');

  // Attach event handlers
  session.on({

    // This function runs when session.connect() asynchronously completes
    sessionConnected: function () {
      // Publish the publisher we initialzed earlier (this will trigger 'streamCreated' on other
      // clients)
      session.publish(publisher);
    },

    // This function runs when another client publishes a stream (eg. session.publish())
    streamCreated: function (event) {
      session.subscribe(event.stream, 'subscribers', { insertMode: 'append' });
    }

  });

  // Connect to the Session using the 'apiKey' of the application and a 'token' for permission
  session.connect(token);
</script>